.ui-event-roller {
  position: absolute;
  max-width: 200px;
  top: 90%;
  color: #1bbb9b;
  font-size: 20px;
}

.ui-event-roller .ui-event {
  color: #1bbb9b;
  background-color:  #2d343c;
  position: absolute;
  padding-left: 10px;
  box-shadow: 0 3px 3px #313942;
}
